title {
    text-decoration: underline;
}

h1 {
    color: rgb(46, 9, 128);
}

* {
    font-family: arial;
    color: rgb(20, 5, 110);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(247, 233, 255);
}

.container {
    text-align: center;
}

#taskInput {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

#addBtn,
.removeBtn {
    padding: 10px 20px;
    background-color: #e0b90de0;
    color: white;
    border: none;
    cursor: pointer;
}

#taskList {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.taskItem {
    margin-bottom: 5px;
}

input:checked+label {
    text-decoration: line-through;
    color: rgb(46, 9, 128);
}

input+label {
    margin-right: 50px;
}

input:checked~h4 {
    color: rgb(46, 9, 128);
}

.task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    gap: 10px;
    width: 100%;
    /*Added a border to the tasks*/
    border: 2px solid rgb(46, 9, 128);
    padding: 20px;
    margin: 10px;
    border-radius: 100px;
    overflow-wrap: break-word;
}


/*Added a hover effect to the task items*/

.task-item:hover {
    background-color: rgb(203, 151, 245);
}

.list-widget {
    /*text-align:center;*/
    display: flex;
    flex-direction: column;
    width: 500px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #fff6c3;
    /* Example background color */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #fff6c3;
    /* Example background color */
    position: absolute;
    bottom: 0;
    width: 100%;
}

#google_translate_element {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    /* Ensure it appears above other content */
}

main {
    margin-top: 200px;
    /* Adjust margin top to accommodate header height */
    padding-top: 20px;
    /* Add padding to create space between header and todo list */
}