title {
    text-decoration: underline;
}

h1 {
    color: black;
}

* {
    font-family:arial;
}

input:checked + label {
    text-decoration: line-through;
    color: green;
}

input + label {
    margin-right: 50px;
}

input:checked ~ h4 {
    color: green;
}

.task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    gap: 10px;
    width: 100%;
    /*Added a border to the tasks*/
    border: 2px solid black;
    padding: 20px;
    margin: 10px; 
    border-radius: 100px;
    overflow-wrap: break-word;
}
/*Added a hover effect to the task items*/
.task-item:hover {
    background-color: gray;
}

.list-widget {
    /*text-align:center;*/
    display: flex;
    flex-direction: column;
    width: 500px;
}